languages/dotnet/XmlTests/XmlTests/Xml/OrdersExampleFile.xsd

<?xml version="1.0"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OrderList"  type="OrderList" />
  <xs:complexType name="OrderList">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Orders" type="ArrayOfOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="Order" type="Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="OrderSummary" type="OrderSummary" />
      <xs:element minOccurs="1" maxOccurs="1" name="Customer" type="Customer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderSummary">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="OrderLines" type="ArrayOfOrderLine" />
      <xs:element minOccurs="1" maxOccurs="1" name="DeliveryAddress" type="Address" />
      <xs:element minOccurs="1" maxOccurs="1" name="DeliveryDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfOrderLine">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="OrderLine" type="OrderLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderLine">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ItemQuantity" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="ItemName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="AddressLine1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="40"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="AddressLine2">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="40"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="AddressLine3">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="40"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="City">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="40"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="County">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="40"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="PostCode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Title" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FirstName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="LastName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Email" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Phone" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>